* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  --w-color: #ffffff;
  --g-color: #383638;
  --b-color: #0b0b0b;
  --lg-color: #8b8e99;
  --in-color: #8b8e99b2;
  --lb-color: #1e1d1d;
}

body.dark {
  --w-color: #0b0b0b;
  --b-color: #ffffff;
  --g-color: #ffffff;
  --lb-color: #ffffff;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background: linear-gradient(
    155.28deg,
    var(--g-color) 2.06%,
    var(--b-color) 33.08%
  );
}

#thmodel {
  background-color: var(--w-color);
}

#latestproduct {
  background-color: var(--w-color);
}

#testimonial {
  background-color: var(--w-color);
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hamburger {
  color: #ffffff;
  font-size: 25px;
  display: none;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background-color: black;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: white;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  border-radius: 25px;
  background-color: var(--w-color);
}
.switch::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--b-color);
  transition: 0.5s;
}

/* dark-mode */
body.dark .switch::before {
  left: 20px;
}

/* .switch {
  position: absolute;
  right: 14px;
} */

/* header */
#header {
  background: linear-gradient(
    155.28deg,
    var(--g-color) 2.06%,
    var(--b-color) 33.08%
  );
}

.backtop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(15, 15, 15, 1);
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  bottom: 30px;
  right: 50px;
  -webkit-box-shadow: 0px 0px 33px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 33px 5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 33px 5px rgba(255, 255, 255, 1);
  /* display: none; */
  opacity: 0;
  z-index: -99;
  transition: 1s;
}

.backtop-show {
  opacity: 1;
  z-index: 99;
}

/* 1501 -> 200 * 2 -> 16 */
.container {
  max-width: 1133px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav {
  padding: 22px 0 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  margin-top: 10px;
  background: #000000;
  position: absolute;
  padding: 10px 25px;
  margin-left: -20px;
  display: none;
  border-radius: 10px;
}

.dropdown-content li {
  margin-top: 15px;
}

.nav-link:hover .dropdown-content {
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 27px;
}

.nav-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--lg-color);
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.discover {
  padding: 102px 0 142px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-title {
  max-width: 457px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0%;
  color: var(--w-color);
}

.discover-text {
  margin: 20px 0 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  color: var(--lg-color);
  max-width: 456px;
}

.discover-desc{
  padding: 80px 0 0;
}

.search-container {
  margin: 47px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 443px;
  background-color: var(--w-color);
  border-radius: 15px;
  padding: 7px 9px;
}

.search-icon {
  margin: 0 10px;
}

.search-input {
  width: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
}

.dark-search-input::placeholder {
  color: var(--in-color);
}

.search-button {
  max-width: 104px;
  background-color: #3858d6;
  color: var(--w-color);
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.dark-search-button:hover {
  background-color: #3a56d4;
}

/* section1 */
.thmodels-wrapper {
  padding: 386px 0 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thmodel {
  background-color: #f6f6f6;
  max-width: 354px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 46px 35px 41px 45px;
}

.thmodel-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.thmodel-text {
  max-width: 170px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--lg-color);
}

.latestproduct-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #3858d6;
}

.latestproduct-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--lb-color);
}

.latestproduct-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
}

.latestproduct-card {
  width: 334px;
  height: 438px;
}

.latestproduct-card:nth-child(4) {
  margin-top: 120px;
}

.latestproduct-card:nth-child(5) {
  margin-top: 120px;
}

.latestproduct-card:nth-child(6) {
  margin-top: 120px;
}

.card-img {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding: 29px 0 28px;
}

.card-title {
  margin-top: 11px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--lb-color);
}

.stars-div {
  text-align: center;
}

.stars {
  margin-top: 10px;
  /* padding-left: 109px; */
}

.prices {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.price {
  color: var(--b-color);
}

.latestproduct-btn-div {
  text-align: center;
  margin-top: 70px;
}

.card-img-image {
  width: 100%;
}

.latestproduct-btn {
  margin: 70px 0;
  width: 196px;
  height: 46px;
  border-radius: 15px;
  background-color: #3858d6;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--w-color);
  border: none;
}

testimonial-section {
  text-align: center;
  padding-bottom: 60px;
}

.testimonial-header {
  /* padding: 135px; */
  margin-bottom: 40px;
}

.subtitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #3858d6;
  margin-bottom: 10px;
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--lb-color);
}

.testimonial-carousel {
  margin-top: 30px;
}

.testimonial-card {
  max-width: 530px;
  height: 235px;
  padding: 30px;
  margin: 10px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 22px;
}

.testimonial-content {
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  text-align: left;
}

.testimonial-img {
  flex: 0 0 120px;
  margin-right: 20px;
}

.person-img {
  width: 164px;
  height: 176px;
  border-radius: 15px;
  object-fit: cover;
}

.testimonial-text {
  flex: 1;
}

.person-name {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
}

.person-comment {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--lg-color);
  margin-bottom: 15px;
}

.rating {
  color: black;
  font-size: 18px;
}

.newsletter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.newsletter-content {
  flex: 1;
  /* padding-right: 40px; */
}

.newsletter-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--lb-color);
  margin-bottom: 15px;
}

.newsletter-subtitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--lg-color);
  margin-bottom: 25px;
}

.newsletter-form {
  display: flex;
  max-width: 500px;
}

.newsletter-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  /* border: none; */
  border-radius: 9px;
  font-size: 16px;
  outline: none;
}

.subscribe-btn {
  max-width: 127px;
  background-color: #4169e1;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.subscribe-btn:hover {
  background-color: #3050c5;
}

.watch-image {
  flex: 1;
  text-align: center;
}

.watch-img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

/* Footer */
.footer {
  background: linear-gradient(
    155.28deg,
    var(--g-color) 2.06%,
    var(--b-color) 33.08%
  );
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  color: var(--w-color);
  text-align: center;
  padding: 20px;
}

.owl-dots {
  margin-top: 30px !important;
}

.owl-dot span {
  width: 12px !important;
  height: 12px !important;
  margin: 5px 7px !important;
  background: #d6d6d6 !important;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px !important;
}

.owl-dot.active span {
  background-color: #4169e1 !important;
}

@media (max-width: 295px) {
  .discover-title {
    font-size: 44px;
  }

  .discover-text {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .thmodel {
    flex-direction: column;
  }
  .newsletter-form {
    flex-direction: column;
    gap: 5px;
  }
  .subscribe-btn {
    max-width: 335px;
    border-radius: 5px;
  }
  .testimonial-content {
    flex-direction: column;
  }
  .testimonial-card {
    padding: 10px;
    height: 340px;
  }
}

@media (max-width: 505px) {
  .nav-menu {
    flex-direction: column;
    margin: 15px 0;
  }
  .smartwatch-img {
    width: 100%;
  }
  .nav-logo {
    width: 100%;
    padding: 20px 0;
  }
  #hamburger {
    display: block;
  }
  .nav-menus {
    display: none;
  }
  .active {
    display: flex;
  }
}

@media (max-width: 615px) {
  .newsletter-section {
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 680px) {
  .nav {
    flex-direction: column;
  }

  .nav-menu {
    /* flex-direction: column; */
    margin: 15px 0;
  }
}

@media (max-width: 730px) {
  .latestproduct-card:nth-child(2) {
    margin-top: 120px;
  }
}

@media (max-width: 765px) {
  .thmodels-wrapper {
    margin: 75px 0 0;
  }
}

@media (max-width: 945px) {
  .discover {
    flex-direction: column;
    gap: 35px;
  }
}

@media (max-width: 1034px) {
  .latestproduct-wrapper {
    justify-content: center;
    gap: 30px;
  }
  .latestproduct-card:nth-child(3),
  .latestproduct-card:nth-child(4),
  .latestproduct-card:nth-child(5),
  .latestproduct-card:nth-child(6) {
    margin-top: 120px;
  }
}

@media (max-width: 1095px) {
  .thmodels-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}
